@import "tailwindcss";

.home-hero-banner {
  background-image: url("../data/Desktophome.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .home-hero-banner {
    background-image: url("../data/mobilehome.webp");
    background-size: 100% 100%;
  }
}
