@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hero-banner {
  background-image: url("/Desktophome.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nfc-card-1 {
  background: url("/home-grid/1.webp");
  background-size: 100% 100%;
  background-color: #2b2e39;
}

.nfc-card-2 {
  background: url("/home-grid/2.webp");
  background-size: 100% 100%;
}

.nfc-card-3 {
  background: url("/home-grid/3.webp");
  background-size: 100% 100%;
}

.nfc-card-4 {
  background: url("/home-grid/4.webp");
  background-size: 100% 100%;
  background-color: #2b2e39;
}

.nfc-card-5 {
  background: url("/home-grid/5.webp");
  background-size: 100% 100%;
  background-color: #2b2e39;
}

.nfc-card-6 {
  background: url("/home-grid/6.webp");
  background-size: 100% 100%;
}

/* Teams fetures content swtitch */
.team-active-tab {
  background: linear-gradient(99.27deg, #04cefa, #a1dbea);
  color: #000;
}

.team-custom-tab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 43px;
  transition: 0.3s;
  font-family: Urbanist;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0px;
  text-align: center;
}

/* why choose us */
.WhyTeamsChoose-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/team-why-choose/after-image.webp");
  background-size: 100% 100%;
  z-index: -1;
}

/* /////////////////////////////// */
/* ////// Products Page ///////// */
/* ///////////////////////////// */

.allCollection-list-wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -14px;
  margin-left: -14px;
}

.all-collection-list {
  width: calc(25% - 28px);
  margin: 14px;
  border-radius: 15px;
  overflow: hidden;
}

.product-title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
}

/* /////////////////////////////// */
/* ////// Product Detail Page ///////// */
/* ///////////////////////////// */

.product-gallery-image {
  width: 80px;
  flex: 0 0 auto;
}

.product-gallery-image::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.delivery-estimate-box::after {
  display: block;
  position: absolute;
  z-index: 2;
  content: "";
  top: 50%;
  right: 0;
  border: medium none;
  background-color: #1f2128;
  width: 1.14285714em;
  height: 1.14285714em;
  border-style: solid;
  border-color: #9e9fa759;
  border-width: 0 1px 1px 0;
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease,
    color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

.coupoun-header::after {
  content: "";
  top: 40%;
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  width: 18px;
  height: 10px;
  background: url("/coupoun-btn.png");
  background-size: contain;
}

.recent-product {
  width: calc(25% - 24px);
}

/* /////////////////////////////// */
/* ////// Blogs Page ///////// */
/* ///////////////////////////// */

.blog-card:hover .blog-title {
  text-decoration: underline;
}

.pagination-link::after {
  content: "";
  display: block;
  width: 20px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}

.pagination-link:hover::after {
  height: 1px;
}

.pagination-link.active::after {
  height: 1px;
}

@media (max-width: 1024px) {
  .all-collection-list {
    width: calc(33.33% - 28px);
  }
}

@media (max-width: 992px) {
  .recent-product {
    width: calc(50% - 24px);
  }
}

@media screen and (min-width: 990px) {
  .product-image-wrapper {
    max-width: 45%;
    width: calc(45% - 8px / 2);
    flex-grow: 1;
    flex-shrink: 0;
  }

  .product-info-wrapper {
    max-width: 55%;
    width: calc(55% - 8px / 2);
  }

  .product-gallery-image {
    width: calc(25% - 10px);
  }
}

@media (max-width: 800px) {
  .nfc-card-1,
  .nfc-card-2,
  .nfc-card-3,
  .nfc-card-4,
  .nfc-card-5,
  .nfc-card-6 {
    width: calc(100% - 20px) !important;
  }
}

@media (max-width: 792px) {
  .affiliate-card {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .hero-banner {
    background-image: url("/mobilehome.webp");
    background-size: 100% 100%;
  }

  .team-desktop-banner {
    background-image: url("/Desktophome.webp") !important;
    background-position: center;
    background-size: 100% 100%;
  }
}

@media (max-width: 649px) {
  .bestseller-cards-container {
    flex-wrap: wrap !important;
    margin-right: -5px !important;
    margin-left: -5px !important;
    row-gap: 10px !important;
  }

  .smart-product-link {
    flex: unset !important;
    overflow: hidden !important;
    margin: 0 5px !important;
    line-height: 0 !important;
    width: calc(50% - 10px) !important;
    position: relative;
  }

  .nfc-card {
    padding: 16px !important;
  }

  .nfc-card-1 {
    background: url("/home-grid/M1.webp");
    background-size: 100% 100%;
    background-color: #2b2e39;
  }

  .nfc-card-2 {
    background: url("/home-grid/M2.webp");
    background-size: 100% 100%;
  }

  .nfc-card-3 {
    background: url("/home-grid/M3.webp");
    background-size: 100% 100%;
  }

  .nfc-card-4 {
    background: url("/home-grid/M4.webp");
    background-size: 100% 100%;
    background-color: #2b2e39;
  }

  .nfc-card-5 {
    background: url("/home-grid/M5.webp");
    background-size: 100% 100%;
    background-color: #2b2e39;
    align-items: start;
  }

  .nfc-card-6 {
    background: url("/home-grid/M6.webp");
    background-size: 100% 100%;
  }

  .nfc-card-1,
  .nfc-card-4,
  .nfc-card-5 {
    min-height: 500px;
  }

  .nfc-card-2,
  .nfc-card-3,
  .nfc-card-6 {
    min-height: 455px;
  }

  .allCollection-list-wrapp {
    margin-right: -8px;
    margin-left: -8px;
  }

  .all-collection-list {
    width: calc(50% - 16px);
    margin: 8px;
  }

  .recent-product-container {
    margin: 50px 0 0;
    gap: 18px;
  }

  .recent-product {
    width: calc(100% - 0px);
    margin: 0;
  }
}

@media (max-width: 468px) {
  .all-collection-list {
    width: calc(100% - 8px);
    margin: 8px;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
