.carouselWrapper {
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  animation: scrolling 6s linear infinite;
}

.logoBox {
  flex: 0 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Keyframe Animation */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
